.mainNav { 
    display: flex;
    gap: 20px;

 
}

.mainNav > .navLink { 
    text-decoration: none;
    color: black;
}

.mainNav > .navLink.active {
text-decoration: underline rgb(105, 105, 16);
}

.mainNav > .navLink:hover { 
    border-bottom: rgb(157, 101, 230); 
    text-decoration: underline solid black;
 }